html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, auto) 300px;
  row-gap: 10px;
}

header {
  height: 80vh;
  background-image: url('images/reachingbot.webp');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
} 

.nav-bar {
  width: 60%;
  position: fixed;
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.top-right-nav {
  margin-left: auto;
}

.top-right-nav img {
  width: 50%;
  transition : width 0.1s;
}

.top-right-nav img:hover {
  width: 70%;
}

.button a{
  margin: 5px;
  text-decoration: none;
  color: #fff;
}

.button a:hover {
  /* underline */
  text-decoration: underline;
}

.logo {
  margin-left: 5%;
  margin-right: 2rem;
  color: #fff;
}

.logo h2 {
  font-weight: lighter;
  letter-spacing: 0.05rem;
}

.more-info {
  position: absolute;
  width: 30%;
  padding: 1.5rem;
  color: #fff;
  margin-left: 15%;
  top: 40%;
  /* slightly transparent bg colour */
  background-color: rgba(0, 0, 0, 0.1);
}
.more-info h2 {
  font-weight: lighter;
}
.more-info a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  border: 2px solid hsl(0, 0%, 67%); /* Start with a transparent border */
  border-radius: 5px;
  font-weight: bold;
  transition: border 0.3s, padding 0.3s; /* Smooth transition for border and padding */
}

.more-info a:hover {
  border: 2px solid #fff; /* Change to a solid white border on hover */
  /* padding: 8px 18px; Reduce padding to compensate for the thicker border */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Slightly increase background visibility */
}

.more-info-small {
  display: none;
}

.mid-section {
  margin-left: 15%;
  margin-right: 15%;
}

.mid-section h2 {
  font-weight: lighter;
}
.steps{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.box {
  flex-grow: 1;
  margin: 5px;
  padding: 2.5rem;
  background-color: rgb(242, 242, 242);
  border: grey 1px black;
}

.box img {
  width: 40%;
}

.box li {
  margin: 10px;
  list-style-type: circle;
}

footer {
  background-color: lightgray;
}

.footer-content {
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 938px) {
  .more-info {
    display: none;
  }
  .more-info-small {
    display: block;
    margin-top: -20px;
    padding: 3rem;
    color:#fff;
    text-align: center;
    background-color: rgb(193, 193, 193);
  }
  .more-info-small a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    border: 2px solid hsl(0, 0%, 67%); /* Start with a transparent border */
    border-radius: 5px;
    font-weight: bold;
    transition: border 0.3s, padding 0.3s; /* Smooth transition for border and padding */
  }
  
  .more-info-small a:hover {
    border: 2px solid #fff; /* Change to a solid white border on hover */
    /* padding: 8px 18px; Reduce padding to compensate for the thicker border */
    background-color: rgba(
      255,
      255,
      255,
      0.2
    ); /* Slightly increase background visibility */
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .steps {
    flex-direction: column;
  }

}